.login-right {
  background-image: linear-gradient(to right, #4285f4, #94b4ea);
}

.login-left {
  border-right: 1px solid #bbc0c4;
  box-shadow: 0 30px 60px rgba(19, 45, 73, 0.5);
  background-color: white;
}
