.new-user {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  color: #7e8695;
  margin-top: 16px;
  text-align: center;
}

a {
  text-decoration:none;
}

.login-button{
  border-radius: 0;
}

.login-left-form{
  padding: 60px 60px 60px 60px;
}
