.pesquisa{
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border-radius: 30px;
  width: 350px;
}


.pesquisa input{
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
}
