.card {
  text-align: center;
}

.livro{
  width: 18rem;
  margin: 10px;
}

.card-title{
  height:30px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cat-titulo{
  font-size: 20px;
}

.cat-container li a{
  font-size: 15px;
}

.cat-container{
  overflow:scroll;
}

.cat-nome a{
  color:black;
}

.cat-nome:hover{
  background-color: lightgray;
  transition: 0.3s;
}

.pesquisa{
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border-radius: 30px;
  width: 350px;
}


.pesquisa input{
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
}
