
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">

          </li>
          <li class="nav-item text-muted mb-3 cat-titulo">
            Categorias
          </li>
        </ul>

        <ul class="nav mb-2 cat-container">
          <li class="nav-item cat-nome col-md-12">
            <button class="btn" type="button" (click)="filtrarcategoria('Todas')">
              Todas as categorias
            </button>
          </li>
          @for (cat of cat ; track cat.id){
            <li class="nav-item cat-nome col-md-12">
              <button class="btn" type="button" (click)="filtrarcategoria(cat.nome!)">
                {{ cat.nome }}
              </button>
            </li>
          }
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Biblioteca</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

          <section class="pesquisa">
            <input type="text" formControlName="searchterm" placeholder="Pesquise um título, autor ou ano..." #filter>
            <button type="button" class="btn" (click)="buscar(filter.value)">
              <mat-icon>search</mat-icon>
            </button>
          </section>

          <div class="dropdown">
            <mat-label>Filtrar por</mat-label>
            <mat-select>
              <mat-option (click)="getalltitulo()">Titulo</mat-option>
              <mat-option (click)="getallautor()">Autor</mat-option>
              <mat-option (click)="getallanoasc()">Ano Pub. (Asc)</mat-option>
              <mat-option (click)="getallanodesc()">Ano Pub. (Desc)</mat-option>
            </mat-select>
          </div>

        </div>
      </div>

      @if (errorMessage != ''){
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ errorMessage }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clear()"></button>
        </div>
      }

      @if (successMessage != ''){
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{ successMessage }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clear()"></button>
        </div>
      }

      <div class="lista-livros row">
        @if(liv.length === 0 ){
          <p>Nenhum resultado encontrado.</p>
        } @else{
          @for(liv of liv ; track liv.isbn){

            <div class="livro card col-sm-4 p-4">
              <img class="card-img-top" src="/book-cover-placeholder.png" alt="Capa do livro">
              <div class="card-body">
                <h5 class="card-title">{{  liv.titulo  }}</h5>
                <p class="card-text">{{ liv.autor }}<br>{{ liv.anopublicado }}<br>{{ liv.n_disponivel }} de {{ liv.n_exemplares }} disponíveis.</p>
                @if ( liv!.n_disponivel! > 0) {
                  <button type="button" class="btn btn-primary" (click)="emprestimo(liv.isbn!)">Pegue emprestado</button>
                } @else {
                  <button type="button" class="btn btn-primary" disabled>Pegue emprestado</button>
                }
              </div>
            </div>
          }
        }

      </div>
    </main>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha384+MdS9E5PLPuPkQsVEWyFtUVvihJpLiKuDO/n9+5dtI9Tf/8MpGdqc1BqumOq/n3h"
  crossorigin="anonymous">
</script>
